# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Visual Studio and IDE-related files
*.vsidx
*.wsuo

# Ignore all VS Code settings (if applicable)
.vscode/

# Ignore compiled files from other environments
*.pyo
*.pyd
*.egg-info/

# Ignore environment-specific settings
*.env