{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>HouseTasker - Home</title>
		<link rel="icon" href="resources/favicon.png">
		<meta charset="UTF-8">
		<meta name="keywords" content="HouseTasker, tasks, manager, home, house-tasker">
		<meta name="description" content="A web page to help you organize house tasks along your roomates">
		<meta name="author" content="JulenPeña, PabloMatanzas, IkerCid">
		<link rel="stylesheet" href="{% static 'css/ht.css' %}">
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		{% block head %}{% endblock %}
		<!-- https://www.w3schools.com/html/html_head.asp -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<!-- https://javascript.plainenglish.io/20-header-design-html-for-website-c5cd71af6401 -->
	<body>
		<header>
            <div class="header-container">
                <h1>{% block header-title %}HouseTasker{% endblock %}</h1>
                <div class="user-info">
                    {% if user.is_authenticated %}
                        <div class="profile">
                            <p>{% trans "Bienvenido" %}, {{ user.username }}</p>
                            {% if user.profile_image %}
                                <img src="{{ user.profile_image.url }}" alt="Profile picture" class="profile-pic">
                            {% else %}
                                <img src="{% static 'img/default_pfp.png' %}" alt="Default profile picture" class="profile-pic">
                            {% endif %}
                        </div>
                        
                        <div class="language-form">
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <select name="language">
                                    <option value="en" {% if LANGUAGE_CODE == "en" %}selected{% endif %}>English</option>
                                    <option value="es" {% if LANGUAGE_CODE == "es" %}selected{% endif %}>Español</option>
                                </select>
                                <button type="submit">{% trans "Cambiar idioma" %}</button>
                            </form>
                        </div>
                        
                        <div class="logout">
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">{%trans "Cerrar Sesión" %}</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>

            <nav>
                {% block nav %}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'task_list' %}">{% trans "Tareas" %}</a>
                <a href="{% url 'resource_list' %}">{% trans "Recursos" %}</a>
                <a href="{% url 'faq' %}">FAQ</a>
                {% endblock %}
            </nav>
        </header>

		<main>
			{% block main %}
			
			{% endblock %}
		</main>
		
		<footer>
			<p>© 2024 HouseTasker. Todos los derechos reservados.</p>
		</footer>
	
	</body>
</html>
