{% extends "base.html" %}

{% block main %}
<h2>Frequently Asked Questions (FAQ)</h2>

<div class="faq-section">
    <h3>¿Qué es HouseTasker?</h3>
    <p>HouseTasker es una plataforma web diseñada para ayudarte a gestionar las tareas del hogar de manera eficiente. Puedes asignar tareas, rastrear recursos y organizar las tareas entre tus compañeros de casa.</p>

    <h3>¿Cómo puedo crear una tarea?</h3>
    <p>Para crear una tarea, navega a la sección "Tareas" y haz clic en "Crear nueva tarea". Completa el formulario con los detalles de la tarea, como el título, la prioridad y los recursos, y luego guárdala.</p>

    <h3>¿Puedo añadir diferentes recursos a las tareas?</h3>
    <p>Sí, puedes asociar varios recursos disponibles presionando el <strong>CTRL</strong> y clicando en las tareas.</p>

    <h3>¿Cómo puedo iniciar sesión?</h3>
    <p>Introduce tu nombre de usuario y contraseña, y luego haz clic en "Iniciar sesión". Si no tienes una cuenta, puedes registrarte haciendo clic en "Regístrate aquí" en la página de inicio de sesión.</p>

    <h3>¿Cómo puedo cerrar sesión?</h3>
    <p>Haz clic en el botón "Cerrar sesión" en la esquina superior derecha debajo de tu información de perfil.</p>
	
	<h3>¿Por qué salen tareas en rojo?</h3>
    <p>Cuando un recurso previamente asignado a un número X de tareas pasa a tener una cantidad menor de X, las tareas con ese recurso asignado pasarán a estar en rojo.</p>
</div>

{% endblock %}
