{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
<div>
	<section>
		<h2 class="sectionTitle">MOTD</h2>
		<p class="sectionText">Example message of the day!!</p>
	</section>
	<section>
		<h2 class="sectionTitle">Tarea Proxima</h2>
		<p class="sectionText">¡¡¡Tarea más próxima sin completar!!!</p>
		<div class="task-container">
			{% for task in closest_task %}
			  <div class="task-item {% if task.is_overlapping %}task-overlapping{% else %}task-ok{% endif %}">
				<a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
				<span class="priority">Prioridad: {{ task.get_priority_display }}</span>
				{% if task.is_overlapping %}
				  <span class="status">En conflicto</span>
				{% else %}
				  <span class="status">Normal</span>
				{% endif %}
				<div class="task-dates">
				  <span class="start-date">Inicio: {{ task.start_date|date:"d/m/Y H:i" }}</span>
				  <span class="duration">Duración: {{ task.duration }}</span>
				  <span class="end-date">Fin: {{ task.end_date|date:"d/m/Y H:i" }}</span>
				</div>
				<div class="task-resources">
				  <strong>Recursos:</strong>
				  {% if task.resources.all %}
					<ul>
					  {% for resource in task.resources.all %}
						<li>{{ resource.name }} ({{ resource.quantity }} disponibles)</li>
					  {% endfor %}
					</ul>
				  {% else %}
					<p>No se asignaron recursos a esta tarea.</p>
				  {% endif %}
				</div>
			  </div>
			{% empty %}
			  <p>No se encontraron tareas.</p>
			{% endfor %}
		</div>
	</section>
</div>
<aside>
	<h2 class="asideH1">Filter by day (WORK IN PROGRESS)</h2>
	<form>
		<input type="date" name="fecha" id="fecha"><button type="submit">Buscar</button>
	</form>
	<section id="filteredTasks">
		<h3 class="asideH3">Results:</h3><br>
		<p><a href="viewTask.html">Example filtered task 1</a></p>
		<p><a href="viewTask.html">Example filtered task 2</a></p>
		<p><a href="viewTask.html">Example filtered task 3</a></p>
		<p><a href="viewTask.html">Example filtered task 4</a></p>
	</section>
</aside>
{% endblock %}