{% extends "base.html" %}


{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block main %}
<div>
    <section>
        <h2 class="sectionTitle">MOTD</h2>
        <p class="sectionText">Example message of the day!!</p>
    </section>
    <section>
        <h2 class="sectionTitle">{% trans "Tarea Proxima" %}</h2>
        <p class="sectionText">{%trans "¡¡¡Tarea más próxima sin completar!!!" %}</p>
        <div class="task-container">
            {% if closest_task %}
            {% for task in closest_task %}
              <div class="task-item {% if task.is_overlapping %}task-overlapping{% else %}task-ok{% endif %}">
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                <span class="priority">{%trans "Prioridad:" %}{{ task.get_priority_display }}</span>
                {% if task.is_overlapping %}
                  <span class="status">{% trans "En conflicto" %}</span>
                {% else %}
                  <span class="status">{% trans "Normal" %}</span>
                {% endif %}
                <div class="task-dates">
                  <span class="start-date">{% trans "Inicio" %}: {{ task.start_date|date:"d/m/Y H:i" }}</span>
                  <span class="duration">{% trans "Duración" %}: {{ task.duration }}</span>
                  <span class="end-date">{% trans "Fin" %}: {{ task.end_date|date:"d/m/Y H:i" }}</span>
                </div>
                <div class="task-resources">
                  <strong>{% trans "Recursos:" %}</strong>
                  {% if task.resources.all %}
                    <ul>
                      {% for resource in task.resources.all %}
                      <li class="resource-item">
                        <a href="{% url 'resource_detail' resource.id %}" class="resource-link">
                          {{ resource.name }}
                        </a> 
                        <span class="quantity-box">({{ resource.quantity }} {% trans "disponibles" %})</span>
                      </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{% trans "No se asignaron recursos a esta tarea" %}.</p>
                  {% endif %}
                </div>
              </div>
            {% empty %}
              <p>{% trans "No se encontraron tareas" %}.</p>
            {% endfor %}
            {% else %}
              <p>{% trans "No hay tareas disponibles" %}.</p>
            {% endif %}
        </div>
    </section>
    <section>
      <h2 class="sectionTitle">{% trans "Tareas más próximas por usuario" %}</h2>
      <div class="task-container">
          {% if closest_tasks %}
              {% for task in closest_tasks %}
                <div class="task-item {% if task.is_overlapping %}task-overlapping{% else %}task-ok{% endif %}">
                  <h3>{% trans "Usuario" %}: {{ task.created_by.username }}</h3>
                  <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                  <span class="priority">{% trans "Prioridad:" %} {{ task.get_priority_display }}</span>
                  {% if task.is_overlapping %}
                    <span class="status">{% trans "En conflicto" %}</span>
                  {% else %}
                    <span class="status">{% trans "Normal" %}</span>
                  {% endif %}
                  <div class="task-dates">
                    <span class="start-date">{% trans "Inicio" %}: {{ task.start_date|date:"d/m/Y H:i" }}</span>
                    <span class="duration">{% trans "Duración" %}: {{ task.duration }}</span>
                    <span class="end-date">{% trans "Fin" %}: {{ task.end_date|date:"d/m/Y H:i" }}</span>
                  </div>
                  <div class="task-resources">
                    <strong>{% trans "Recursos" %}:</strong>
                    {% if task.resources.all %}
                      <ul class="resource-container">
                        {% for resource in task.resources.all %}
                          <li class="resource-item">
                            <a href="{% url 'resource_detail' resource.id %}" class="resource-link">
                              {{ resource.name }}
                            </a> 
                            <span class="quantity-box">({{ resource.quantity }} {% trans "disponibles" %})</span>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p>{% trans "No se asignaron recursos a esta tarea" %}.</p>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
          {% else %}
              <p>{% trans "No hay tareas próximas disponibles" %}.</p>
          {% endif %}
      </div>
  </section>
</div>
<aside>
    <h2 class="asideH1">Filter by day (WORK IN PROGRESS)</h2>
    <form>
        <input type="date" name="fecha" id="fecha"><button type="submit">Buscar</button>
    </form>
    <section id="filteredTasks">
        <h3 class="asideH3">Results:</h3><br>
        <p><a href="viewTask.html">Example filtered task 1</a></p>
        <p><a href="viewTask.html">Example filtered task 2</a></p>
        <p><a href="viewTask.html">Example filtered task 3</a></p>
        <p><a href="viewTask.html">Example filtered task 4</a></p>
    </section>
</aside>
{% endblock %}
