{% extends "base.html" %}

{% block nav %}
{% load i18n %}

{% endblock %}

{% block main %}
<form action="{% url 'login' %}" method="post">
	{% csrf_token %}
	<!-- Logo of the web -->
	<div class="imageContainer">
		<!-- <img src="resources/favicon.png" alt="Logo" class="logo"> -->
	</div>
	
	<!-- Login form -->
	<fieldset class="loginFieldset">
		<legend>{% trans "Iniciar sesión" %}</legend>
		{{ form.as_p }}  <!-- Renderiza el formulario de autenticación de Django -->
		<button type="submit">{% trans "Iniciar sesión" %}</button><br>
		<label class="indexText"><input type="checkbox" checked="checked" name="remember">Remember me</label>
	</fieldset>
</form>

<div class="register-link">
    <p>¿{% trans "No tienes una cuenta" %}? <a href="{% url 'register' %}" class="register-btn">{% trans "Regístrate aquí" %}</a></p>
</div>
{% endblock %}