{% extends "base.html" %} 
{% block nav %}
    {% load i18n %}
{% endblock %} 

{% block main %}
<form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- Logo of the web -->
  <div class="imageContainer">
    <!-- <img src="resources/favicon.png" alt="Logo" class="logo"> -->
  </div>

  <!-- Login form -->
  <fieldset class="loginFieldset">
    <legend>{% trans "Iniciar sesión" %}</legend>
    {{ form.as_p }}
    <!-- Renders the form fields with Django's default styling -->
    <button type="submit">{% trans "Register" %}</button>
  </fieldset>
</form>
{% endblock %}
