{% extends "base.html" %}
{% load i18n %}

{% block main %}
	{% if resource %}
		<h2>{% trans "Resource Detail" %}</h2>
		<h3>{{ resource.name }}</h3>
		<p><strong>{% trans "Cantidad" %}:</strong> {{ resource.quantity }}</p>
		<p><strong>{% trans "Categoría" %}:</strong> {{ resource.get_category_display }}</p>
		<p><strong>{% trans "Descripción" %}:</strong> {{ resource.description }}</p>

		<a href="{% url 'resource_list' %}">{% trans "Back to Resource List" %}</a>

		<form action="{% url 'resource_delete' resource.id %}" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">{% trans "Borrar" %}</button>
		</form>

		<div class="edit-resource-button-container">
			<a href="{% url 'resource_edit' resource.id %}" class="edit-resource-button">{% trans "Editar Recurso" %}</a>
		</div>
	{% else %}
		<p>{% trans "No existe esta tarea" %}.</p>
	{% endif %}
{% endblock %}