{% extends "base.html" %}
{% block main %}
	{% if task %}
		<h2>Task Detail</h2>
		<h3>{{ task.title }}</h3>
	
		<p><strong>Description:</strong> {{ task.description|default:"No description provided" }}</p>
	  
		<p><strong>Priority:</strong> 
			{% if task.priority == task.LOW %}Low
			{% elif task.priority == task.MEDIUM %}Medium
			{% elif task.priority == task.HIGH %}High
		{% endif %}
		</p>
	  
		<p><strong>Due Date:</strong> {{ task.due_date|date:"F j, Y, g:i a" }}</p>
	  
		<p><strong>Status:</strong> {% if task.completed %}Completed{% else %}Pending{% endif %}</p>
	  
		<a href="{% url 'task_list' %}">Back to Task List</a>
		
		<form action="{% url 'task_delete' task.id %}" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Borrar</button>
		</form>
	{% else %}
		<p>No existe esta tarea.</p>
	{% endif %}
{% endblock %}